/* rgb(106, 64, 145) */
/* #b9b1c2 */
* {
    margin : 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    width      : 100%;
    margin     : 0;
    padding    : 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    display         : flex;
    justify-content : initial;
    background-color: rgb(106, 64, 145);
    position        : fixed;
    width           : 100%;
    top             : 0;
    z-index         : 2;
}

.menu {
    display             : flex;
    list-style          : none;
    height              : 40px;
    padding-inline-start: 40px;
}

.menu li {
    margin: 10px;
}

.menu img {
    transition: 0.3s
}

.menu img:hover {
    transform : scale(1.4);
    transition: 0.3s;
}

.waves-divider {
    position   : absolute;
    bottom     : 0;
    left       : 0;
    width      : 100%;
    overflow   : hidden;
    line-height: 0;
    transform  : rotate(180deg);
}

.waves-divider svg {
    position: relative;
    display : block;
    width   : calc(100% + 1.3px);
    height  : 150px;
}

.waves-divider .shape-fill {
    fill: #6A4091;
}

.apresentacao {
    display         : flex;
    margin          : 0 auto;
    align-items     : center;
    height          : 100vh;
    justify-content : center;
    padding         : 0px 150px;
    background-color: #b9b1c2;
}

.portifolio {
    display         : flex;
    margin          : 0 auto;
    background-color: rgb(106, 64, 145);
    align-items     : center;
    padding         : 60px 15px 80px 15px;
    justify-content : center;
    height          : 100vh;
}

.foto {
    width        : 180px;
    border-radius: 49%;
    margin       : 20px 30px;
}

.perfil{
    color: rgb(106, 64, 145) ;
    text-align: center;
    text-shadow      : 2px 2px 2px rgb(140, 85, 190);
    
}
.saudacao {
    font-size: 1.5em;
}

.seta {
    width   : 60px;
    height  : 82px;
    position: absolute;
    right   : 150px;
}

.seta path {
    stroke           : white;
    fill             : transparent;
    stroke-width     : 3px;
    animation        : seta 2s infinite;
    -webkit-animation: seta 2s infinite;
}

@keyframes seta {
    0% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    75% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes seta {
    0% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    75% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.seta path.a1 {
    animation-delay        : -1s;
    -webkit-animation-delay: -1s;
}

.seta path.a2 {
    animation-delay        : -.5s;
    -webkit-animation-delay: -.5s;
}

.projetos>h1 {
    text-align: center;
}

.cards {
    display  : flex;
    flex-wrap: wrap;
}

.cards div {
    align-self      : center;
    min-width       : 300px;
    min-height      : 300px;
    max-width       : 300px;
    max-height      : 300px;
    margin          : 10px;
    border-radius   : 20px;
    background-color: rgba(245, 245, 245, 0.788);
    box-shadow      : 10px 10px 2px rgb(140, 85, 190);
    transition      : 0.3s;
}

.cards div:hover {
    transform : scale(1.1);
    transition: 0.3s;
}

@media (max-width: 960px) {
    header {
        justify-content: center;
        transition     : 0.3s;
    }

    .menu {
        padding-inline-start: 0;
    }

    .foto {
        margin-top: 80px;
        width     : 180px;
    }

    .apresentacao {
        flex-wrap: wrap;
        padding  : 0px 10px;
    }

    .saudacao {
        display  : flex;
        flex-wrap: wrap;
        padding  : 20px 20px 190px 30px;

    }

    .seta {
        text-align: center;
        right     : 10%;
    }

    .cards {
        justify-content: center;
    }

    .cards div {
        min-width : 200px;
        min-height: 200px;
        max-width : 200px;
        max-height: 200px;
    }
}

@media (max-width: 440px) {

    .waves-divider svg {
        height: 100px;
        bottom: -5px;
    }
   

    .foto {
        margin-top: 20px;
        width     : 190px;
    }
    .saudacao {
        padding  : 0px 10px 100px 10px;
        font-size: 1.5em;

    }

    .apresentacao {
        height: 92vh;
    }

    .portifolio {
        height: 90vh;
    }

    .cards div {

        min-width : 200px;
        min-height: 150px;
        max-width : 200px;
        max-height: 150px;
    }
}

.cards button {
    border          : none;
    border-radius   : 20px;
    padding         : 10px 20px;
    color           : white;
    background-color: black;
}

footer {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: black;
    width           : 100%;
    bottom          : 0;
    z-index         : 2;
    color           : gray;
    height          : 40px;
}

small {
    font-size: 10px;
}